<div class="item item-divider">
{{unitType}}
<span class="item-note" ng-class="!isUnitTypeIsValid(unitType)?'assertive':''">{{getTotal(unitType)}}/{{getLimit(unitType)}} {{armyTypes[army.type].restrictions[unitType].type}}</span>
  </div>
<ion-item ng-repeat="unit in army.units|filter:{type:unitType}" href="#/app/army-builder/army/warscroll/{{unit.id}}">

  {{unit.title}}
  	({{unit.models}})
  <span class="item-note">{{unit.points}} pts</span>
  <ion-option-button class="button-assertive"
           ng-click="remove(unit)">Remove</ion-option-button>
</ion-item>